<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gemmespro.app" version="1.0.0" xmlns="http://w3.org" xmlns:cdv="http://apache.org" xmlns:android="http://android.com">
    <name>GemmesPro</name>
    <description>Application de détection géologique par géolocalisation</description>
    <author email="contact@gemmespro.com" href="https://gemmespro.com">Gemmes Pro Team</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="LogLevel" value="DEBUG" />
    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="34" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
    </platform>

    <!-- Plugins requis pour faire tourner l'application de géolocalisation -->
    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />
</widget>
