<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chasseurdegemmes.pro" version="1.1.0" xmlns="http://w3.org" xmlns:cdv="http://apache.org">
    <name>Chasseur de Gemmes Pro</name>
    <description>Application de détection géologique haute performance 100% hors-ligne.</description>
    <author email="prospecteur@example.com">Chasseur de Gemmes</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Extensions Natives Compatibles Android 12 -->
    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />
    <plugin name="cordova-plugin-local-notification-12" spec="^0.1.3" />

    <!-- Configuration de la plateforme Android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>
    </platform>

    <preference name="KeepRunning" value="true" />
</widget>
